<h2>Edit Post</h2>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :post_info %>
  <%= f.text_field :post_info %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<%= form_for @post, method: :delete do |f| %>
  <%= f.submit "Delete", class: "delete" %>
<% end %>
